<h2>Structural Directives</h2>
<p>ngIf</p>
<p *ngIf="printP; else elseBlock">Print p</p>

<ng-template #elseBlock>
    <p>Don't print p</p>
</ng-template>

<br>
<br>

<p>ngFor</p>
<ul>
    <li *ngFor="let item of list; let i = index">[{{i}}] - {{item.name}} - {{item.age}} <button (click)="onClickRemove(i)">Remove</button></li>
</ul>   
<button (click)="onClickAdd()">Add</button>

<br>
<br>

<p>ngSwitch</p>
<input type="text" [(ngModel)]="name">
<div [ngSwitch]="name">
    <p *ngSwitchCase="'Luis'">
        Luís is my son.
    </p>
    <p *ngSwitchCase="'Angelo'">
        Ângelo is my son too.
    </p>
    <p *ngSwitchCase="'Miriam'">
        Miriam is my doughter.
    </p>
    <p *ngSwitchDefault>
        I don't know this person.
    </p>
</div>

<div [ngClass]="{'yes': ready, 'no': !ready}">
    <p>
        ngClass...
    </p>
</div>

<div [ngStyle]="{'background': backgroundColor}">
    <p>
        ngStyle...
    </p>
</div>

<br>
<br>
<hr>
<br>
<br>
